.App {
  text-align: center;
}

.guide {
    outline: 2px solid black;
    border-radius: 1%;
    padding:1%;
}

.card {
    padding:1%;
}

.card-face {
    display: inline-block;
    outline: 2px solid black;
    margin:1%;
    padding:5%;
    width:40%;
    border-radius: 1%;
}


input[type="file"] {
    display: inline-block;
}

.table {
    max-width: 90%;
    margin: 10px;
}
.table th {
    text-align: center;
}
