.App {
  text-align: center;
}

.guide {
    outline: 1px solid gray;
    padding:1%;
    margin: 1%;
}

.card {
    padding:1%;
}

.card-face {
    display: inline-block;
    outline: 1px solid gray;
    margin:1%;
    padding:1%;
}


input[type="file"] {
    display: inline-block;
}

.table {
    max-width: 90%;
    margin: 10px;
}
.table th {
    text-align: center;
}
